@import "tailwindcss";

@theme {
  --dark: #2D2424;
  --brown: #5C3D2E;
  --caramel: #B85C38;
  --biscuit: #E0C097;
  --white: #FFFFFF;
  --gray: #7e7e7e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
